<!DOCTYPE html>
<html>
<head>
	<title>{{ page['title'] }}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/report.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/linechart.css') }}" />
</head>
<body>
	<div class="back"><a href="{{ url_for('index') }}">Back to index</a></div>

	<div class="report_title">{{ page['data']['title'] }}</div>
	<div class="report_subtitle">{{ page['data']['subtitle'] }}</div>
	<div class="report_body">
		<table>
		<tr><th>Balance</th><th>Account</th></tr>
		{% for line in page['data']['lines'] %}
			<tr class="{{ line['row_class'] }}"><td class="currency {{ line['balance_class'] }}">{{ line['balance'] }}</td><td style="{{ line['account_style'] }}">{{ line['account'] }}</td></tr>
		{% endfor %}
		</table>
	</div>
	
	{% if 'chartdata' in page %}
		<br /><br /><br />

		<div class="report_title">{{ page['chartdata']['title'] }}</div>

		<div id="chart"></div>

		<script src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
		<script>

		var data = {{ page['chartdata']['tuples']|safe }} 

		var margin = {top: 20, right: 20, bottom: 30, left: 50},
		    width = 600 - margin.left - margin.right,
		    height = 400 - margin.top - margin.bottom;

		var parseDate = d3.time.format("%d-%b-%Y").parse;

		var x = d3.time.scale()
		    .range([0, width]);

		var y = d3.scale.linear()
		    .range([height, 0]);

		var xAxis = d3.svg.axis()
		    .scale(x)
		    .ticks(d3.time.months, 3)
		    .tickFormat(d3.time.format("%b %y"))
		    .orient("bottom");

		var yAxis = d3.svg.axis()
		    .scale(y)
		    .orient("left");

		var line = d3.svg.line()
		    .x(function(d) { return x(d.date); })
		    .y(function(d) { return y(d.amount); });

		var svg = d3.select("#chart").append("svg")
		    .attr("width", width + margin.left + margin.right)
		    .attr("height", height + margin.top + margin.bottom)
		  .append("g")
		    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

		/*
		d3.json(json, function(error, data) {
		  data.forEach(function(d) {
		    d.date = parseDate(d.date);
		    d.close = +d.close;
		  });
		*/
		  data.forEach(function(d) {
		    d.date = parseDate(d.date);
		  });

		  x.domain(d3.extent(data, function(d) { return d.date; }))
		    .nice(d3.time.month);
		  y.domain(d3.extent(data, function(d) { return d.amount; }));

		  svg.append("g")
		      .attr("class", "x axis")
		      .attr("transform", "translate(0," + height + ")")
		      .call(xAxis);

		  svg.append("g")
		      .attr("class", "y axis")
		      .call(yAxis)
		    .append("text")
		      .attr("transform", "rotate(-90)")
		      .attr("y", 6)
		      .attr("dy", ".71em")
		      .style("text-anchor", "end")
		      .text("Amount ($)");

		  svg.append("path")
		      .datum(data)
		      .attr("class", "line")
		      .attr("d", line);

		  var node = svg.append("g")
		      .attr("class", "nodes")
		      .selectAll("circle")
		      .data(data)
		      .enter()
		      .append("circle")
		      .attr("class", "node")
		      .attr("r", 2)
		      .attr("cx", function(d) { return x(d.date); })
		      .attr("cy", function(d) { return y(d.amount); });

		  var hover = svg.append("g")
		      .attr("class", "node-hover")
		      .style("display", "none");

		  var hover_rect = hover.append("rect")
		      .attr("class", "node-hover-rect")
		      .attr("rx", "5")
		      .attr("ry", "5")
		      .attr("width", "120")
		      .attr("height", "30");

		  var hover_text = hover.append("text")
		      .attr("class", "node-hover-text")
		      .attr("transform", "translate(10,20)");

		  node.on("mouseover", function(d) {
		        var text_width = 120;
		        var lines = 1;

		        hover_text.selectAll("tspan").remove();
		        var name = hover_text.append("tspan")
		            .attr("class", "node-hover-text-name")
		            .attr("x", "0")
		            .text(d.hover);

		        text_width = name.node().getComputedTextLength();

		        hover_rect
		            .attr("width", text_width + 20);

		        var translate_x = x(d.date) + 10;
		        if (translate_x + text_width + 20 > width) {
		          translate_x = x(d.date) - 30 - text_width;
		        } 

		        var translate_y = y(d.amount) + 10;
		        if (translate_y + 30 > height) {
		          translate_y = y(d.amount) - 40;
		        }

		        hover
		            .attr("transform", "translate(" + translate_x + ", " + translate_y +")")
		            .style("display", "block");
		    })
		    .on("mouseout", function(d) {
		        hover.style("display", "none");
		    })
		/*});*/
		</script>
	{% endif %}

</body>
</html>
	

