<!DOCTYPE html>
<html>
<head>
	<title>{{ page['title'] }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/report.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" media="screen">
	{% block css_include %}
	{% endblock css_include %}
	<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
	{% block js_include %}
	{% endblock js_include %}
</head>
<body>
	<!-- Navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="brand" href="{{ url_for('command') }}">Webledger</a>

				<form class="navbar-form pull-right" name="command" action="{{ url_for('command') }}" method="get">
					<input type="text" name="cmd" class="span8" placeholder="Command">
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>

	
	<div class="container-fluid">
		<div class="row-fluid">
			<!-- Sidebar Navigation -->
			<nav class="span2">
				<div class="well" style="padding: 8px 0;">
					<ul class="nav nav-list">
						<li class="nav-header">Reports</li>
					{% for nav in page['reports'] %}
						{% if "command" in nav %}
							<li class="{{ 'active' if command == nav['command'] else '' }}"><a href="{{ url_for('command', cmd=nav['command']) }}">{{ nav['title'] }}</a></li>
						{% else %}
							<li class="{{ 'active' if path == nav['path'] else '' }}"><a href="{{ url_for(nav['path']) }}">{{ nav['title'] }}</a></li>
						{% endif %}
					{% endfor %}
						<li class="nav-header">Payables / Receivables</li>
					{% for nav in page['payables_receivables'] %}
						<li class="{{ 'active' if command == nav['command'] else '' }}"><a href="{{ url_for('command', cmd=nav['command']) }}">{{ nav['title'] }}<span class="pull-right {{ nav['subtext-class'] }}">{{ nav['subtext'] }}</span></a></li>
					{% endfor %}
					</ul>
				</div>
			</nav>

			<!-- Report -->
			<div class="span10">
				{% block content %}
				<p>No content has been defined.</p>
				{% endblock content %}
			</div>
		</div>
	</div>

</body>
</html>
